<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juntuan_small_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{268,188}}</string>
                <key>offset</key>
                <string>{31,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,67},{268,188}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>juntuan_small_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{266,184}}</string>
                <key>offset</key>
                <string>{29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,68},{266,184}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>juntuan_small_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{270,190}}</string>
                <key>offset</key>
                <string>{30,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,69},{270,190}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>juntuan_small_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,196}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,68},{270,196}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>juntuan_small_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{262,174}}</string>
                <key>offset</key>
                <string>{27,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,69},{262,174}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>juntuan_small_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{252,182}}</string>
                <key>offset</key>
                <string>{23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,68},{252,182}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juntuan_small_3.png</string>
            <key>size</key>
            <string>{1602,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86dc643eb93b9b1e707a5215d5195a74:37e7ae9474c35467c924291f60127f04:c8e6ddd3c6dce17bf6e2c9dfa4f58133$</string>
            <key>textureFileName</key>
            <string>juntuan_small_3.png</string>
        </dict>
    </dict>
</plist>
