<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juntuan_big5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{186,332}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,38},{186,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{192,334}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,39},{192,334}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,340}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,38},{206,340}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{168,316}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,39},{168,316}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1652},{150,322}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,39},{150,322}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1332},{166,318}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,40},{166,318}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juntuan_big_50.png</string>
            <key>size</key>
            <string>{210,1976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1b5da3cacc8989c4e17e7d29bb8b139:66e437198e62ce9517d637221b963896:446790c248096f5dbd0868cd599e7fac$</string>
            <key>textureFileName</key>
            <string>juntuan_big_50.png</string>
        </dict>
    </dict>
</plist>
