<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juntuan_big1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{188,250}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,71},{188,250}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{192,238}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,83},{192,238}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{204,244}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,77},{204,244}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,252}}</string>
                <key>offset</key>
                <string>{17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,69},{168,252}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{152,240}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,81},{152,240}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{166,230}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,91},{166,230}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juntuan_big_10.png</string>
            <key>size</key>
            <string>{1084,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c64af34be482ecc6381781869cb6fdb:119bfab37cbf2b81e280d8778edd99dc:224a914b582e59004443c740f228ee0e$</string>
            <key>textureFileName</key>
            <string>juntuan_big_10.png</string>
        </dict>
    </dict>
</plist>
