<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juntuan_small_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{188,270}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,9},{188,270}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>juntuan_small_5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{192,278}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,9},{192,278}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>juntuan_small_5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,280}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,9},{206,280}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>juntuan_small_5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{174,280}}</string>
                <key>offset</key>
                <string>{-19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,9},{174,280}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>juntuan_small_5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{156,262}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,9},{156,262}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>juntuan_small_5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{168,262}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,9},{168,262}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juntuan_small_5.png</string>
            <key>size</key>
            <string>{210,1646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94ae55edff42df1de54ec11c2f00194a:a225a472eeed4ae46a1264dca4ef6dde:86824a4622d6cdd4c1d7505051f86ac5$</string>
            <key>textureFileName</key>
            <string>juntuan_small_5.png</string>
        </dict>
    </dict>
</plist>
