<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juntuan_big3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{376,154}}</string>
                <key>offset</key>
                <string>{33,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,131},{376,154}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,312},{364,158}}</string>
                <key>offset</key>
                <string>{28,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,131},{364,158}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,150}}</string>
                <key>offset</key>
                <string>{32,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,132},{372,150}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{368,154}}</string>
                <key>offset</key>
                <string>{29,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,131},{368,154}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big3_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{360,152}}</string>
                <key>offset</key>
                <string>{26,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,130},{360,152}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big3_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,156},{350,154}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,132},{350,154}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juntuan_big_30.png</string>
            <key>size</key>
            <string>{746,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad822312e5d872a88c7d0735ec97596f:95a24a2bfbe0f5b53f61835040ec209c:53f06ab9fcd5cdb91df03dfa859cbd9a$</string>
            <key>textureFileName</key>
            <string>juntuan_big_30.png</string>
        </dict>
    </dict>
</plist>
