<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juntuan_big2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{312,208}}</string>
                <key>offset</key>
                <string>{39,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,89},{312,208}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{322,216}}</string>
                <key>offset</key>
                <string>{45,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,81},{322,216}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,222}}</string>
                <key>offset</key>
                <string>{45,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,75},{324,222}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,2},{334,190}}</string>
                <key>offset</key>
                <string>{50,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,107},{334,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{294,194}}</string>
                <key>offset</key>
                <string>{30,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,103},{294,194}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{304,204}}</string>
                <key>offset</key>
                <string>{36,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,93},{304,204}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juntuan_big_20.png</string>
            <key>size</key>
            <string>{1904,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2cad1ca8edf372886c9f673b6081e33:52f133677013966ec0b42f8f13032d7a:1ff0eb0637a78194d473921a839523a8$</string>
            <key>textureFileName</key>
            <string>juntuan_big_20.png</string>
        </dict>
    </dict>
</plist>
