<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juntuan_big4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{308,296}}</string>
                <key>offset</key>
                <string>{43,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,62},{308,296}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,300}}</string>
                <key>offset</key>
                <string>{48,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,64},{320,300}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{330,290}}</string>
                <key>offset</key>
                <string>{54,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,64},{330,290}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{270,298}}</string>
                <key>offset</key>
                <string>{24,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,62},{270,298}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{280,280}}</string>
                <key>offset</key>
                <string>{28,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,63},{280,280}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>juntuan_big4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{276,288}}</string>
                <key>offset</key>
                <string>{27,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,63},{276,288}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juntuan_big_40.png</string>
            <key>size</key>
            <string>{1798,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:280c3b5eddc31dd4dd0f82c8ecf09fa7:7fc417cf061df9d1cea861f1fbb4483b:5d98c64fecd2ebb0bcd823a4d34e1e39$</string>
            <key>textureFileName</key>
            <string>juntuan_big_40.png</string>
        </dict>
    </dict>
</plist>
