<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>army_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,100},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>army_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,113},{5,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,14}}</string>
                <key>sourceSize</key>
                <string>{5,14}</string>
            </dict>
            <key>army_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,101},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>army_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,101},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>army_small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,78},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>army_small_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,90},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>army_small_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,66},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>army_small_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,66},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>army_small_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,89},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>army_small_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,78},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>juntuan_small_flag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,66},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>juntuandaqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{78,109}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{78,109}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>juntuandaqi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{76,109}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{76,109}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>juntuandaqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{78,109}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{78,109}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>juntuandaqi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{74,109}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{74,109}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>juntuandaqi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{70,109}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{70,109}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>juntuandaqi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{62,109}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{62,109}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>juntuandaqi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{64,109}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{64,109}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>juntuandaqi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{66,109}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{66,109}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>juntuandaqi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{68,109}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{68,109}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>juntuandaqi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{72,109}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{72,109}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>xiaoqi5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{50,116}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{50,116}}</string>
                <key>sourceSize</key>
                <string>{70,120}</string>
            </dict>
            <key>xiaoqi5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{50,116}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{50,116}}</string>
                <key>sourceSize</key>
                <string>{70,120}</string>
            </dict>
            <key>xiaoqi5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{50,116}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{50,116}}</string>
                <key>sourceSize</key>
                <string>{70,120}</string>
            </dict>
            <key>xiaoqi5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{50,116}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{50,116}}</string>
                <key>sourceSize</key>
                <string>{70,120}</string>
            </dict>
            <key>xiaoqi5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,116}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{50,116}}</string>
                <key>sourceSize</key>
                <string>{70,120}</string>
            </dict>
            <key>xiaoqi5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,116}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{50,116}}</string>
                <key>sourceSize</key>
                <string>{70,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoqi.png</string>
            <key>size</key>
            <string>{1089,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89f71bb82a156a6b17eea7f59503929b:1/1$</string>
            <key>textureFileName</key>
            <string>xiaoqi.png</string>
        </dict>
    </dict>
</plist>
