<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,248},{136,240}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,52},{136,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,244},{136,244}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,54},{136,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{136,244}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,54},{136,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{142,240}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,53},{142,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,248},{144,240}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,53},{144,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,244}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,55},{144,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>7_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,246}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,53},{144,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>7_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{146,242}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,52},{146,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xingjunbudui_10.png</string>
            <key>size</key>
            <string>{576,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79ae32cdccb2dce7e37d118c7405a319:1/1$</string>
            <key>textureFileName</key>
            <string>xingjunbudui_10.png</string>
        </dict>
    </dict>
</plist>
