<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,466},{220,150}}</string>
                <key>offset</key>
                <string>{29,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{220,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,314},{220,150}}</string>
                <key>offset</key>
                <string>{29,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{220,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{220,152}}</string>
                <key>offset</key>
                <string>{29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,67},{220,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{220,152}}</string>
                <key>offset</key>
                <string>{29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,67},{220,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,160},{222,152}}</string>
                <key>offset</key>
                <string>{30,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,67},{222,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{228,152}}</string>
                <key>offset</key>
                <string>{34,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{228,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>4_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,154}}</string>
                <key>offset</key>
                <string>{34,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{228,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>4_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{224,156}}</string>
                <key>offset</key>
                <string>{32,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,63},{224,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xingjunbudui_40.png</string>
            <key>size</key>
            <string>{458,620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1306367a0f5e5286deecf5c55547cb7:1/1$</string>
            <key>textureFileName</key>
            <string>xingjunbudui_40.png</string>
        </dict>
    </dict>
</plist>
