<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,282},{234,138}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,78},{234,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{234,138}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,78},{234,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{234,138}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,78},{234,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,422},{234,140}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,76},{234,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,142},{232,138}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{232,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{234,138}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,79},{234,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>5_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{234,140}}</string>
                <key>offset</key>
                <string>{23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,77},{234,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>5_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,138}}</string>
                <key>offset</key>
                <string>{23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{234,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xingjunbudui_30.png</string>
            <key>size</key>
            <string>{474,564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74534e2951c5368afb620bd08320b111:1/1$</string>
            <key>textureFileName</key>
            <string>xingjunbudui_30.png</string>
        </dict>
    </dict>
</plist>
