<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>component_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,538},{302,186}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,71},{302,186}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_122_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,196},{320,166}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,74},{320,166}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,306},{312,192}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,65},{312,192}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_123_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,364},{314,172}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,72},{314,172}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,2},{326,192}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,65},{326,192}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_124_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,500},{280,174}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,66},{280,174}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,928},{142,98}}</string>
                <key>offset</key>
                <string>{-22,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,51},{142,98}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>component_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,914},{158,96}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,39},{158,96}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>component_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,828},{140,84}}</string>
                <key>offset</key>
                <string>{30,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,61},{140,84}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>component_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,726},{200,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{200,138}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>component_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,726},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>component_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{590,300}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{590,300}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>farming_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,676},{276,150}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,15},{276,150}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>farming_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,964},{236,108}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,59},{236,108}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>fog_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,504},{100,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,504},{100,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1004},{92,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1004},{92,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{92,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,828},{84,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{84,42}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,504},{84,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,42}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,828},{84,40}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{84,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,828},{84,40}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{84,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,984},{92,46}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,984},{92,46}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{92,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,984},{92,46}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,984},{92,46}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{92,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fog_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,976},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>hill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,948},{184,116}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{184,116}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>hill1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,948},{196,120}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{196,120}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>hill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{400,262}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{400,262}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>hill2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,592},{370,252}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{370,252}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>hill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{598,276}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{598,276}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>hill3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{500,260}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{500,260}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>hill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{588,280}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{588,280}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>hill4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{580,272}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{580,272}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>hill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,584},{362,290}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{362,290}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>hill5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,552},{360,200}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{360,200}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>training_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,914},{292,156}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,11},{292,156}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>zhuzha_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,594},{380,182}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{380,182}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>zhuzha_big_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,602},{380,216}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,216}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>zhuzha_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1056},{18,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{18,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>zhuzha_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1056},{18,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{18,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>zhuzha_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{270,150}}</string>
                <key>offset</key>
                <string>{48,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,39},{270,150}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>zhuzha_mid_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,154},{268,150}}</string>
                <key>offset</key>
                <string>{47,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,39},{268,150}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>zhuzha_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{18,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{18,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>zhuzha_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,928},{140,94}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,54},{140,94}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>zhuzha_small_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,878},{140,94}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,54},{140,94}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>additionCity.png</string>
            <key>size</key>
            <string>{2036,1079}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:975ff2227835758d41a6ce6f7521ede2:1/1$</string>
            <key>textureFileName</key>
            <string>additionCity.png</string>
        </dict>
    </dict>
</plist>
