<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>March_route_Icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1467},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>March_route_Icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1580},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>March_route_Icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1297},{33,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{33,23}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>March_route_Icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1438},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>March_route_Icon_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1603},{38,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,19}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>March_route_Icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1365},{31,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{31,23}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>Pass_by_route_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1332},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{31,23}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>Pass_by_route_Icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1557},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>Pass_by_route_Icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1517},{29,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{29,19}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>Pass_by_route_Icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1496},{29,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{29,19}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>Pass_by_route_Icon_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1398},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>Pass_by_route_Icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1538},{27,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{27,17}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>armyground_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1066},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>armyground_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,964},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>armyground_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,862},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>armyground_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,760},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>land_smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1634},{172,187}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{172,187}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1555},{170,189}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,573},{174,185}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{174,185}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,384},{166,187}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{166,187}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,193},{168,189}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1808},{170,187}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{170,187}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1808},{172,185}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{172,185}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1783},{170,187}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{170,187}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1611},{170,189}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>land_smoke_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{168,189}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,189}}</string>
                <key>sourceSize</key>
                <string>{174,189}</string>
            </dict>
            <key>mu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{234,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{234,100}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,410},{234,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{234,100}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{234,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{234,100}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,308},{234,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{234,100}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{234,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{234,100}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,206},{234,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{234,100}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{234,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{234,100}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,104},{234,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{234,100}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{234,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{234,100}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{234,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{234,100}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>mu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{234,100}}</string>
                <key>sourceSize</key>
                <string>{236,102}</string>
            </dict>
            <key>shi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1426},{198,127}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1297},{202,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{202,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{198,127}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1168},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{204,127}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{204,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1353},{202,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{202,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1507},{198,125}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{198,125}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1378},{198,127}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1122},{206,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>shi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1251},{204,125}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{204,125}}</string>
                <key>sourceSize</key>
                <string>{206,127}</string>
            </dict>
            <key>waterwheel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{218,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,120}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1000},{218,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,120}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{218,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,120}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,878},{218,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,120}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{218,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,120}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,756},{218,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,120}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{218,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,120}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,634},{218,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,120}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{218,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,120}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
            <key>waterwheel_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,512},{218,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,120}}</string>
                <key>sourceSize</key>
                <string>{218,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>armyMark.png</string>
            <key>size</key>
            <string>{644,1992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ff063dbc6860c553c475dbe17782614:1/1$</string>
            <key>textureFileName</key>
            <string>armyMark.png</string>
        </dict>
    </dict>
</plist>
