<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dibiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{718,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,356}}</string>
                <key>sourceSize</key>
                <string>{718,356}</string>
            </dict>
            <key>dibiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{718,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,356}}</string>
                <key>sourceSize</key>
                <string>{718,356}</string>
            </dict>
            <key>dibiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{718,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,356}}</string>
                <key>sourceSize</key>
                <string>{718,356}</string>
            </dict>
            <key>qiuling_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1537},{506,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,271}}</string>
                <key>sourceSize</key>
                <string>{506,271}</string>
            </dict>
            <key>qiuling_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{506,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,271}}</string>
                <key>sourceSize</key>
                <string>{506,271}</string>
            </dict>
            <key>qiuling_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,991},{506,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,271}}</string>
                <key>sourceSize</key>
                <string>{506,271}</string>
            </dict>
            <key>qiuling_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,360},{506,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,271}}</string>
                <key>sourceSize</key>
                <string>{506,271}</string>
            </dict>
            <key>qiuling_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1232},{561,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,195}}</string>
                <key>sourceSize</key>
                <string>{561,195}</string>
            </dict>
            <key>qiuling_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{506,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,271}}</string>
                <key>sourceSize</key>
                <string>{506,271}</string>
            </dict>
            <key>qiuling_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1815},{561,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,195}}</string>
                <key>sourceSize</key>
                <string>{561,195}</string>
            </dict>
            <key>qiuling_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1618},{561,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,195}}</string>
                <key>sourceSize</key>
                <string>{561,195}</string>
            </dict>
            <key>qiuling_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1421},{561,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,195}}</string>
                <key>sourceSize</key>
                <string>{561,195}</string>
            </dict>
            <key>qiuling_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1224},{561,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,195}}</string>
                <key>sourceSize</key>
                <string>{561,195}</string>
            </dict>
            <key>qiuling_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1027},{561,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,195}}</string>
                <key>sourceSize</key>
                <string>{561,195}</string>
            </dict>
            <key>qiuling_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,830},{561,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,195}}</string>
                <key>sourceSize</key>
                <string>{561,195}</string>
            </dict>
            <key>qiuling_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,633},{561,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,195}}</string>
                <key>sourceSize</key>
                <string>{561,195}</string>
            </dict>
            <key>qiuling_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1281},{561,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,195}}</string>
                <key>sourceSize</key>
                <string>{561,195}</string>
            </dict>
            <key>qiuling_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,718},{561,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,195}}</string>
                <key>sourceSize</key>
                <string>{561,195}</string>
            </dict>
            <key>smooth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,830},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>smooth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1810},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>state_edge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1897},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>state_edge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1795},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>state_edge_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1810},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dibiao.png</string>
            <key>size</key>
            <string>{1472,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6cd7cd3640ca31eb4f7ca9309d18b92:1/1$</string>
            <key>textureFileName</key>
            <string>dibiao.png</string>
        </dict>
    </dict>
</plist>
