<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,1950},{200,62}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>blue_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1950},{200,62}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dark_red_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1732},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dark_red_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,844},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dark_red_2_gray_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,698},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>expansion_of_tips_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,496},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>expansion_of_tips_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,394},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>expansion_of_tips_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1872},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>green_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1934},{200,64}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{200,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>green_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1102},{200,64}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>green_2_gray_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1950},{200,62}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>land_22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,218},{388,190}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{388,190}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_23_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1394},{352,194}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{352,194}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_24_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{400,216}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,216}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_25_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1450},{380,210}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{380,210}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_31_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1022},{370,194}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{370,194}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_32_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,410},{382,202}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{382,202}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_33_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1750},{348,198}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{348,198}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_34_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,884},{384,200}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{384,200}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_41_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{400,206}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{400,206}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_42_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{400,204}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{400,204}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_43_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{400,216}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,216}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_44_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,224},{400,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{400,218}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_51_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_52_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{392,220}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{392,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_53_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_54_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_61_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{394,214}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{394,214}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_62_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1086},{390,214}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{390,214}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_63_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_64_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1662},{378,206}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{378,206}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_71_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{390,216}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{390,216}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_72_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,220},{392,220}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{392,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_73_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,496},{346,190}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,14},{346,190}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_74_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1386},{362,206}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{362,206}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_81_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,444},{396,218}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{396,218}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_82_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1022},{362,206}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{362,206}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_83_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1320},{344,190}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{344,190}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_84_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1488},{382,216}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{382,216}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_91_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,664},{392,218}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{392,218}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_92_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,946},{372,170}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{372,170}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_93_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,818},{374,202}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{374,202}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_94_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,614},{376,202}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{376,202}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>land_ground_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1048},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1048},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1086},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,846},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,644},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,442},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1510},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1510},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>land_ground_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1108},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>orange_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,900},{200,64}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{200,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>orange_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1732},{200,64}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>orange_2_gray_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1666},{200,64}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>purple_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1934},{200,62}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>purple_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1870},{200,62}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>red_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1748},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>red_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1912},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>yellow_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,204},{200,62}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,37},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>yellow_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{200,62}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>zise_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1912},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>zise_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1912},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res_3.png</string>
            <key>size</key>
            <string>{1886,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f50a9e24383f60591ce0c5f7df1b364:1/1$</string>
            <key>textureFileName</key>
            <string>res_3.png</string>
        </dict>
    </dict>
</plist>
