<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sand_102_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{188,76}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{188,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_112_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{150,98}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,98}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,856},{144,76}}</string>
                <key>offset</key>
                <string>{22,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{144,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_122_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,556},{150,92}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,8},{150,92}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,702},{140,72}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,3},{140,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_131_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{222,198}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,1},{222,198}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>sand_132_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,38},{328,124}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>sand_21_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1272},{138,68}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{138,68}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1194},{142,76}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{142,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_31_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,898},{148,72}}</string>
                <key>offset</key>
                <string>{-24,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{148,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_32_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1048},{144,76}}</string>
                <key>offset</key>
                <string>{-22,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_41_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{150,76}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,24},{150,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_42_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{150,76}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,24},{150,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_51_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1002},{136,70}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,5},{136,70}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_52_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,430},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_53_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,196},{130,76}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{130,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_61_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,708},{146,76}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,24},{146,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_62_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,328},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_63_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{148,76}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{148,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_71_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,556},{144,76}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{144,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_72_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1506},{100,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,21},{100,54}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_73_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1342},{136,76}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{136,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_81_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{150,76}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,24},{150,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_82_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1506},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_83_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{148,72}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,3},{148,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_92_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{192,76}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{192,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sand_edge_3.png</string>
            <key>size</key>
            <string>{254,1562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d3dbb26bab1a23894fbcaa02b0f13f8:1/1$</string>
            <key>textureFileName</key>
            <string>sand_edge_3.png</string>
        </dict>
    </dict>
</plist>
