<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Black_text_base_new_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,723},{166,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,33}}</string>
                <key>sourceSize</key>
                <string>{166,33}</string>
            </dict>
            <key>Brown_floor_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1291},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>Enter_the_name_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,768},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>Generals_biography_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{390,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,35}}</string>
                <key>sourceSize</key>
                <string>{390,35}</string>
            </dict>
            <key>Pull_down_the_new_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,961},{42,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,16}}</string>
                <key>sourceSize</key>
                <string>{42,16}</string>
            </dict>
            <key>Skills_of_special_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,974},{131,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{131,46}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>Skills_of_special_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1108},{147,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,60}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>Skills_of_special_button_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,974},{129,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{129,46}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>Skills_of_special_button_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1025},{131,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{131,46}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>Window_shading_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,467},{556,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,53}}</string>
                <key>sourceSize</key>
                <string>{556,53}</string>
            </dict>
            <key>Window_shading_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,721},{121,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,48}}</string>
                <key>sourceSize</key>
                <string>{121,48}</string>
            </dict>
            <key>bai_anniu_z_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1107},{174,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,81}}</string>
                <key>sourceSize</key>
                <string>{174,81}</string>
            </dict>
            <key>bai_anniu_z_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1060},{174,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,81}}</string>
                <key>sourceSize</key>
                <string>{174,81}</string>
            </dict>
            <key>bai_anniu_z_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,884},{174,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,81}}</string>
                <key>sourceSize</key>
                <string>{174,81}</string>
            </dict>
            <key>biaotou_difangguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,467},{362,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,29}}</string>
                <key>sourceSize</key>
                <string>{362,29}</string>
            </dict>
            <key>brown_line_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{90,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,3}}</string>
                <key>sourceSize</key>
                <string>{90,3}</string>
            </dict>
            <key>button_icon_Cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1291},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>button_icon_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1290},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>denglu_jindut_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,467},{415,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,62}}</string>
                <key>sourceSize</key>
                <string>{415,62}</string>
            </dict>
            <key>dianji_mianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,480},{241,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,59}}</string>
                <key>sourceSize</key>
                <string>{241,59}</string>
            </dict>
            <key>dianji_mianban_faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,480},{239,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{239,57}}</string>
                <key>sourceSize</key>
                <string>{241,59}</string>
            </dict>
            <key>fanhui_xintubiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1219},{65,60}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{65,60}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>fanhui_xintubiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,895},{67,64}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>fengexian_xin_ao.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,895},{62,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,5}}</string>
                <key>sourceSize</key>
                <string>{62,5}</string>
            </dict>
            <key>frame_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,969},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>frame_small_dragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,831},{275,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,33}}</string>
                <key>sourceSize</key>
                <string>{275,33}</string>
            </dict>
            <key>frame_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1286},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>golden_plate_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,945},{210,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,34}}</string>
                <key>sourceSize</key>
                <string>{210,34}</string>
            </dict>
            <key>hefu_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1025},{20,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,5}}</string>
                <key>sourceSize</key>
                <string>{20,5}</string>
            </dict>
            <key>hefu_suzi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,854},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>hefu_suzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1290},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>hefu_suzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1308},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>hefu_suzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,768},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>hefu_suzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1257},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>hefu_suzi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,831},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>hefu_suzi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1074},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>hefu_suzi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1051},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>hefu_suzi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1028},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>hefu_suzi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1090},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>hefu_suzi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1005},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>hefu_suzi_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,723},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>hefu_xuanfuwuqi_kuangti.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,793},{179,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,59}}</string>
                <key>sourceSize</key>
                <string>{179,59}</string>
            </dict>
            <key>img_gonggaoanniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,945},{272,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,58}}</string>
                <key>sourceSize</key>
                <string>{272,58}</string>
            </dict>
            <key>img_gonggaoanniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,467},{272,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,58}}</string>
                <key>sourceSize</key>
                <string>{272,58}</string>
            </dict>
            <key>img_yiyouzhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1051},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>landinformation_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,467},{324,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,32}}</string>
                <key>sourceSize</key>
                <string>{324,32}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,911},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>main_interface_of_city_information_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1291},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>new_Small_button_m_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1257},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>new_Small_button_m_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1051},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>new_big_button_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,741},{168,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,46}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>new_big_button_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1238},{168,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,46}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>new_big_button_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1190},{168,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,46}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>new_button_in_normal_state_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1236},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,52}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>new_button_in_normal_state_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1158},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,52}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>new_header_plate_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{880,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{880,50}}</string>
                <key>sourceSize</key>
                <string>{880,54}</string>
            </dict>
            <key>not_reading_frame_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,467},{476,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,79}}</string>
                <key>sourceSize</key>
                <string>{476,79}</string>
            </dict>
            <key>not_reading_frame_y_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{476,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,79}}</string>
                <key>sourceSize</key>
                <string>{476,79}</string>
            </dict>
            <key>renwudiwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{463,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,347}}</string>
                <key>sourceSize</key>
                <string>{463,347}</string>
            </dict>
            <key>shaiji_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1281},{46,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,25}}</string>
                <key>sourceSize</key>
                <string>{46,25}</string>
            </dict>
            <key>shaiji_0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,924},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>shaiji_0333.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,904},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>shaiji_0444.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,884},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>shuzi_zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{68,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,5}}</string>
                <key>sourceSize</key>
                <string>{68,5}</string>
            </dict>
            <key>tishixinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1308},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>wenzi_xindiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,793},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>xinbantankuang_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1212},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>zhengfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,741},{46,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,25}}</string>
                <key>sourceSize</key>
                <string>{46,25}</string>
            </dict>
            <key>zuoyou_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1281},{45,45}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{45,45}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>zuoyou_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,844},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{49,49}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Login_common.png</string>
            <key>size</key>
            <string>{504,1328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54a718dc19469c06ae49bb3c668f24d1:1/1$</string>
            <key>textureFileName</key>
            <string>Login_common.png</string>
        </dict>
    </dict>
</plist>
