<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,401},{127,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{127,52}}</string>
                <key>sourceSize</key>
                <string>{135,58}</string>
            </dict>
            <key>anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,903},{135,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,58}}</string>
                <key>sourceSize</key>
                <string>{135,58}</string>
            </dict>
            <key>anniu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,909},{127,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{127,52}}</string>
                <key>sourceSize</key>
                <string>{135,58}</string>
            </dict>
            <key>anniu_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{135,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,58}}</string>
                <key>sourceSize</key>
                <string>{135,58}</string>
            </dict>
            <key>bai_anniu_xiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,641},{159,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,64}}</string>
                <key>sourceSize</key>
                <string>{159,64}</string>
            </dict>
            <key>bai_anniu_xiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,867},{159,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,64}}</string>
                <key>sourceSize</key>
                <string>{159,64}</string>
            </dict>
            <key>bai_anniu_xiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,801},{159,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,64}}</string>
                <key>sourceSize</key>
                <string>{159,64}</string>
            </dict>
            <key>bai_anniu_xin_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,896},{159,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,64}}</string>
                <key>sourceSize</key>
                <string>{159,64}</string>
            </dict>
            <key>bai_anniu_xin_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,263},{159,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,64}}</string>
                <key>sourceSize</key>
                <string>{159,64}</string>
            </dict>
            <key>biaoji_tongmeng_quxiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,637},{154,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,53}}</string>
                <key>sourceSize</key>
                <string>{154,53}</string>
            </dict>
            <key>biaoji_tongmeng_quxiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,455},{154,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,53}}</string>
                <key>sourceSize</key>
                <string>{154,53}</string>
            </dict>
            <key>biaoji_tongmeng_rukou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,481},{154,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,53}}</string>
                <key>sourceSize</key>
                <string>{154,53}</string>
            </dict>
            <key>biaoji_tongmeng_rukou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,208},{154,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,53}}</string>
                <key>sourceSize</key>
                <string>{154,53}</string>
            </dict>
            <key>buduipeizchenggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{269,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,54}}</string>
                <key>sourceSize</key>
                <string>{269,54}</string>
            </dict>
            <key>chenggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,85},{153,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,66}}</string>
                <key>sourceSize</key>
                <string>{155,66}</string>
            </dict>
            <key>chenggong_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{260,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,85}}</string>
                <key>sourceSize</key>
                <string>{260,85}</string>
            </dict>
            <key>chenggongzganling.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,840},{171,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,54}}</string>
                <key>sourceSize</key>
                <string>{173,54}</string>
            </dict>
            <key>chuangjiantongmeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,345},{245,50}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{245,50}}</string>
                <key>sourceSize</key>
                <string>{275,54}</string>
            </dict>
            <key>diban_keji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,802},{63,132}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{63,132}}</string>
                <key>sourceSize</key>
                <string>{87,178}</string>
            </dict>
            <key>diban_keji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,811},{47,132}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{47,132}}</string>
                <key>sourceSize</key>
                <string>{87,178}</string>
            </dict>
            <key>didui_biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{474,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{474,77}}</string>
                <key>sourceSize</key>
                <string>{476,79}</string>
            </dict>
            <key>dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,269},{392,74}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{392,74}}</string>
                <key>sourceSize</key>
                <string>{400,98}</string>
            </dict>
            <key>donghan.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,169},{44,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,378}}</string>
                <key>sourceSize</key>
                <string>{44,378}</string>
            </dict>
            <key>doucheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{48,446}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{48,446}}</string>
                <key>sourceSize</key>
                <string>{52,460}</string>
            </dict>
            <key>guojia_diwen_kuangti.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,610},{256,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,29}}</string>
                <key>sourceSize</key>
                <string>{256,29}</string>
            </dict>
            <key>guojia_fuwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,593},{311,113}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{311,113}}</string>
                <key>sourceSize</key>
                <string>{397,113}</string>
            </dict>
            <key>guojia_qiandu.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,477},{310,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{310,114}}</string>
                <key>sourceSize</key>
                <string>{314,120}</string>
            </dict>
            <key>guojia_qiandu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{434,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,32}}</string>
                <key>sourceSize</key>
                <string>{434,32}</string>
            </dict>
            <key>hongdi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,933},{144,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{144,24}}</string>
                <key>sourceSize</key>
                <string>{144,30}</string>
            </dict>
            <key>img_jiangxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,262},{44,372}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,372}}</string>
                <key>sourceSize</key>
                <string>{46,372}</string>
            </dict>
            <key>img_jiejiu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,721},{198,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,78}}</string>
                <key>sourceSize</key>
                <string>{198,78}</string>
            </dict>
            <key>img_jiejiu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,641},{198,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,78}}</string>
                <key>sourceSize</key>
                <string>{198,78}</string>
            </dict>
            <key>img_jitui.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,554},{233,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,54}}</string>
                <key>sourceSize</key>
                <string>{233,54}</string>
            </dict>
            <key>img_sometime.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,36},{403,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,47}}</string>
                <key>sourceSize</key>
                <string>{403,47}</string>
            </dict>
            <key>img_yuzheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,308},{43,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,371}}</string>
                <key>sourceSize</key>
                <string>{45,371}</string>
            </dict>
            <key>img_zhanlin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{468,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,58}}</string>
                <key>sourceSize</key>
                <string>{468,58}</string>
            </dict>
            <key>jianbianceng.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,641},{225,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{225,46}}</string>
                <key>sourceSize</key>
                <string>{237,80}</string>
            </dict>
            <key>jianlitongmeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,442},{241,52}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{241,52}}</string>
                <key>sourceSize</key>
                <string>{275,54}</string>
            </dict>
            <key>jiaoying_diwenjiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,769},{194,69}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{194,69}}</string>
                <key>sourceSize</key>
                <string>{228,71}</string>
            </dict>
            <key>jiaoyingydtu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,455},{172,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,45}}</string>
                <key>sourceSize</key>
                <string>{176,45}</string>
            </dict>
            <key>jiaoyingydtu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,637},{172,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,45}}</string>
                <key>sourceSize</key>
                <string>{176,45}</string>
            </dict>
            <key>jilve_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,561},{198,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,78}}</string>
                <key>sourceSize</key>
                <string>{198,78}</string>
            </dict>
            <key>jilve_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,481},{198,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,78}}</string>
                <key>sourceSize</key>
                <string>{198,78}</string>
            </dict>
            <key>kapaixuanzhe_anniu_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,629},{149,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,54}}</string>
                <key>sourceSize</key>
                <string>{149,54}</string>
            </dict>
            <key>kejibeijingzezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,769},{138,99}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{138,99}}</string>
                <key>sourceSize</key>
                <string>{140,107}</string>
            </dict>
            <key>kejidadiwen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,496},{237,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{237,56}}</string>
                <key>sourceSize</key>
                <string>{237,74}</string>
            </dict>
            <key>kejidiwen_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,85},{348,82}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{348,82}}</string>
                <key>sourceSize</key>
                <string>{390,88}</string>
            </dict>
            <key>liaotian_liebiao_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,405},{271,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,35}}</string>
                <key>sourceSize</key>
                <string>{271,35}</string>
            </dict>
            <key>liaowang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,401},{198,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,78}}</string>
                <key>sourceSize</key>
                <string>{198,78}</string>
            </dict>
            <key>liaowang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,689},{198,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,78}}</string>
                <key>sourceSize</key>
                <string>{198,78}</string>
            </dict>
            <key>liguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,345},{310,130}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{310,130}}</string>
                <key>sourceSize</key>
                <string>{328,156}</string>
            </dict>
            <key>shuizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,353},{46,216}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{46,216}}</string>
                <key>sourceSize</key>
                <string>{52,224}</string>
            </dict>
            <key>tianxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,215},{45,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,376}}</string>
                <key>sourceSize</key>
                <string>{45,376}</string>
            </dict>
            <key>wenchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,353},{50,262}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{50,262}}</string>
                <key>sourceSize</key>
                <string>{52,284}</string>
            </dict>
            <key>wujiangkaduihua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{575,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,47}}</string>
                <key>sourceSize</key>
                <string>{575,47}</string>
            </dict>
            <key>yinbichuzheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,153},{158,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{158,53}}</string>
                <key>sourceSize</key>
                <string>{162,55}</string>
            </dict>
            <key>yitong.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,708},{50,322}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,322}}</string>
                <key>sourceSize</key>
                <string>{52,328}</string>
            </dict>
            <key>youhao_biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{474,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{474,77}}</string>
                <key>sourceSize</key>
                <string>{476,79}</string>
            </dict>
            <key>zhuchengfencheng_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,793},{142,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zhuchengyaosai_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,867},{142,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Main_UI_16.png</string>
            <key>size</key>
            <string>{1018,963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9baaf40beefbe7c56a982a2dce22579:1/1$</string>
            <key>textureFileName</key>
            <string>Main_UI_16.png</string>
        </dict>
    </dict>
</plist>
