<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Draw_text_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,132},{113,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,62}}</string>
                <key>sourceSize</key>
                <string>{113,62}</string>
            </dict>
            <key>Failure_text_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,327},{114,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,62}}</string>
                <key>sourceSize</key>
                <string>{114,62}</string>
            </dict>
            <key>New_unlock_Icon_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,196},{129,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,54}}</string>
                <key>sourceSize</key>
                <string>{129,54}</string>
            </dict>
            <key>New_unlock_Icon_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,196},{129,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,54}}</string>
                <key>sourceSize</key>
                <string>{129,54}</string>
            </dict>
            <key>benzhou_liaotian_xiaozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,530},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>duichen_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,236},{151,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,7}}</string>
                <key>sourceSize</key>
                <string>{151,7}</string>
            </dict>
            <key>fapeizi_ziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{79,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,41}}</string>
                <key>sourceSize</key>
                <string>{79,41}</string>
            </dict>
            <key>gongjian_kapai_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,530},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>jindutiao_bingli.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,236},{278,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,13}}</string>
                <key>sourceSize</key>
                <string>{278,13}</string>
            </dict>
            <key>jindutiao_dengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,236},{278,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,13}}</string>
                <key>sourceSize</key>
                <string>{278,13}</string>
            </dict>
            <key>jindutiao_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,236},{285,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,19}}</string>
                <key>sourceSize</key>
                <string>{285,19}</string>
            </dict>
            <key>jindutiao_tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{278,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,13}}</string>
                <key>sourceSize</key>
                <string>{278,13}</string>
            </dict>
            <key>jinjietexiao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,236},{259,85}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{259,85}}</string>
                <key>sourceSize</key>
                <string>{265,97}</string>
            </dict>
            <key>juli_wen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,552},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>juli_xiaodiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,530},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>juntuan_xiaozhuanjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,550},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>kapai_waifangguang_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{102,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,128}}</string>
                <key>sourceSize</key>
                <string>{102,128}</string>
            </dict>
            <key>kuaijin_zhandou.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,516},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>kuaijin_zhandou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,516},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>liaotian_fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{2,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,39}}</string>
                <key>sourceSize</key>
                <string>{2,39}</string>
            </dict>
            <key>pingju_ziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,245},{252,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,315}}</string>
                <key>sourceSize</key>
                <string>{252,315}</string>
            </dict>
            <key>qiangbing_kapai_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,83},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>qiangdiao_biankuang_juanyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{285,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,36}}</string>
                <key>sourceSize</key>
                <string>{285,36}</string>
            </dict>
            <key>qibing_kapai_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,511},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>sanjiaoxing_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,241}}</string>
                <key>sourceSize</key>
                <string>{532,241}</string>
            </dict>
            <key>shengli_lingshi_ziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{264,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,381}}</string>
                <key>sourceSize</key>
                <string>{264,381}</string>
            </dict>
            <key>shibai_nziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{232,330}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{232,330}}</string>
                <key>sourceSize</key>
                <string>{232,332}</string>
            </dict>
            <key>shijie_liaotian_xiaozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,530},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>shuolian_jinengtubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,420},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>shuolian_suotubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,511},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>tongmeng_liaotian_xiaozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,131},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>tubiao_xiadikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,391},{127,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,54}}</string>
                <key>sourceSize</key>
                <string>{127,54}</string>
            </dict>
            <key>xintouxiang_yuankuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,447},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>xintouxiang_yuankuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,447},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>xiyoudu_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,503},{73,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,25}}</string>
                <key>sourceSize</key>
                <string>{73,25}</string>
            </dict>
            <key>xuexi_fuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,497},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>zhanbao_hong_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,236},{182,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{182,42}</string>
            </dict>
            <key>zhanbao_lan_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,236},{182,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{182,42}</string>
            </dict>
            <key>zhanbao_xiaodikuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,516},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Main_UI_18.png</string>
            <key>size</key>
            <string>{1015,568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:151a441284c54f8ff5b298f8c6648e07:1/1$</string>
            <key>textureFileName</key>
            <string>Main_UI_18.png</string>
        </dict>
    </dict>
</plist>
