<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Construction_of_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,448},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>Header_switching.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,783},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Header_switching_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,466},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>Horizontal_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,485},{232,2}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{232,2}}</string>
                <key>sourceSize</key>
                <string>{234,4}</string>
            </dict>
            <key>New_information_column_entries.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{683,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,56}}</string>
                <key>sourceSize</key>
                <string>{683,56}</string>
            </dict>
            <key>Prosperity_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,768},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>bai_anniu_z_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,524},{174,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,81}}</string>
                <key>sourceSize</key>
                <string>{174,81}</string>
            </dict>
            <key>bai_anniu_z_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,402},{174,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,81}}</string>
                <key>sourceSize</key>
                <string>{174,81}</string>
            </dict>
            <key>baolei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{175,164}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{175,164}}</string>
                <key>sourceSize</key>
                <string>{255,166}</string>
            </dict>
            <key>baolei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,604},{128,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,68}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>bingzhongbufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,246},{146,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,55}}</string>
                <key>sourceSize</key>
                <string>{146,55}</string>
            </dict>
            <key>chense_gaodengji_biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,614},{36,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,77}}</string>
                <key>sourceSize</key>
                <string>{36,77}</string>
            </dict>
            <key>datianjiawenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,653},{184,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,34}}</string>
                <key>sourceSize</key>
                <string>{184,34}</string>
            </dict>
            <key>dixi_yuanjun_tongyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,645},{142,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,72}}</string>
                <key>sourceSize</key>
                <string>{142,72}</string>
            </dict>
            <key>dominant_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,764},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>duihuakuangdiwen_001_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,199},{136,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,45}}</string>
                <key>sourceSize</key>
                <string>{136,45}</string>
            </dict>
            <key>fanpan_anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,601},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fanpan_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,710},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>img_btn_lishijilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,693},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>img_btn_lishijilu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,466},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>img_chongzhi_money_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,396},{137,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,21}}</string>
                <key>sourceSize</key>
                <string>{137,21}</string>
            </dict>
            <key>img_gongpin.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,317},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>img_gongpin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,764},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>img_gongpin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,710},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>img_huodong_i_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,777},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>img_huodong_i_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,656},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>img_jianshou_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,653},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>img_redian.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,789},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>img_tuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,602},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>img_xiahuaxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,836},{38,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,1}}</string>
                <key>sourceSize</key>
                <string>{38,1}</string>
            </dict>
            <key>img_xuanzefencheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,607},{176,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,36}}</string>
                <key>sourceSize</key>
                <string>{176,36}</string>
            </dict>
            <key>iosyingdaobeijn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{79,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,213}}</string>
                <key>sourceSize</key>
                <string>{79,213}</string>
            </dict>
            <key>jiantou_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,734},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>jineng_chen_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,616},{95,95}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{95,95}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>jineng_jindutiao_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,513},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>jineng_jindutiao_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,724},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>jineng_lan_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,524},{95,95}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{95,95}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>jineng_linshi_tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,204},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>jineng_linshi_tubiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,524},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>jineng_linshi_tubiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,440},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,75}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>jineng_linshi_tubiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,362},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>jineng_lv_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,414},{97,97}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>jineng_lv_kuang_dianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,213},{102,100}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{102,100}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>jineng_zhi_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,417},{97,95}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{97,95}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>jinjie_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{365,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,249}}</string>
                <key>sourceSize</key>
                <string>{365,249}</string>
            </dict>
            <key>jinjie_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,514},{86,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,38}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>jinjie_wenzi_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,788},{86,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,38}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>juanxing_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,516},{83,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,38}}</string>
                <key>sourceSize</key>
                <string>{83,38}</string>
            </dict>
            <key>juanxing_wenzi_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,516},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>kapai_jiantou_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,750},{25,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,39}}</string>
                <key>sourceSize</key>
                <string>{25,39}</string>
            </dict>
            <key>lan_gaodengji_biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,614},{34,75}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,75}}</string>
                <key>sourceSize</key>
                <string>{36,77}</string>
            </dict>
            <key>liaotian_tiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,419},{133,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,45}}</string>
                <key>sourceSize</key>
                <string>{133,45}</string>
            </dict>
            <key>liaotian_tiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,198},{133,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,45}}</string>
                <key>sourceSize</key>
                <string>{133,45}</string>
            </dict>
            <key>lunxian_texiao_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{549,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,174}}</string>
                <key>sourceSize</key>
                <string>{549,174}</string>
            </dict>
            <key>lv_gaodengji_biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,376},{36,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,77}}</string>
                <key>sourceSize</key>
                <string>{36,77}</string>
            </dict>
            <key>lv_jineng_tubiaodiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,645},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>neizen_dianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{203,164}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{203,164}}</string>
                <key>sourceSize</key>
                <string>{255,166}</string>
            </dict>
            <key>neizen_weidianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,245},{129,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,68}}</string>
                <key>sourceSize</key>
                <string>{129,68}</string>
            </dict>
            <key>neizhen_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,514},{72,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{72,71}}</string>
                <key>sourceSize</key>
                <string>{82,77}</string>
            </dict>
            <key>neizhen_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,284},{76,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{82,77}</string>
            </dict>
            <key>new_task_Icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{143,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,113}}</string>
                <key>sourceSize</key>
                <string>{143,113}</string>
            </dict>
            <key>new_task_Icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,83},{143,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,113}}</string>
                <key>sourceSize</key>
                <string>{143,113}</string>
            </dict>
            <key>sheshi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,83},{128,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,68}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>sheshi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,236},{175,164}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{175,164}}</string>
                <key>sourceSize</key>
                <string>{255,166}</string>
            </dict>
            <key>shuchu_qinglong_fudiao_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,487},{157,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,151}}</string>
                <key>sourceSize</key>
                <string>{157,151}</string>
            </dict>
            <key>shuishou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,768},{63,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{63,63}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>shuishou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,713},{73,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{73,73}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>suzi_heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,587},{71,25}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{71,25}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>tuntian_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,489},{235,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,33}}</string>
                <key>sourceSize</key>
                <string>{235,33}</string>
            </dict>
            <key>xiaolaba_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,466},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>xiaolaba_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,204},{7,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,20}}</string>
                <key>sourceSize</key>
                <string>{7,20}</string>
            </dict>
            <key>xiaolaba_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,750},{8,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,25}}</string>
                <key>sourceSize</key>
                <string>{8,25}</string>
            </dict>
            <key>xiaotianjiawenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,245},{119,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,24}}</string>
                <key>sourceSize</key>
                <string>{119,24}</string>
            </dict>
            <key>xinshou_dianjianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,394},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>xinshou_weidianjianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,789},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>xinsuzi_diban1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,448},{43,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,22}}</string>
                <key>sourceSize</key>
                <string>{43,22}</string>
            </dict>
            <key>yanjiu_jindu_ziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,616},{88,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,23}}</string>
                <key>sourceSize</key>
                <string>{88,25}</string>
            </dict>
            <key>yijianfangru_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,640},{132,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,137}}</string>
                <key>sourceSize</key>
                <string>{132,137}</string>
            </dict>
            <key>yijianfangru_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,60},{132,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,137}}</string>
                <key>sourceSize</key>
                <string>{132,137}</string>
            </dict>
            <key>yixuexi_xinziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,147},{115,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,55}}</string>
                <key>sourceSize</key>
                <string>{115,55}</string>
            </dict>
            <key>yuanjun_shiyong_toux.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,321},{140,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,73}}</string>
                <key>sourceSize</key>
                <string>{140,73}</string>
            </dict>
            <key>yuanjun_shiyong_toux_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,246},{140,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,73}}</string>
                <key>sourceSize</key>
                <string>{140,73}</string>
            </dict>
            <key>yulantiao_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,621},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>zhengyingbufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,779},{146,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,55}}</string>
                <key>sourceSize</key>
                <string>{146,55}</string>
            </dict>
            <key>zhi_gaodengji_biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,706},{34,75}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,75}}</string>
                <key>sourceSize</key>
                <string>{36,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Main_UI_13.png</string>
            <key>size</key>
            <string>{1022,839}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5d9b137f0874bdfb0678b066fb1572b:1/1$</string>
            <key>textureFileName</key>
            <string>Main_UI_13.png</string>
        </dict>
    </dict>
</plist>
